<!DOCTYPE html>
<html lang="en">

<head>
         <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <title>Movies Search</title>
         <style>
                        h1 {
                           text-align: center;
                           margin-bottom: 20px;
                  }
         </style>
         {{>navbar}}
</head>

<body>
      
         <div>
         <h1>Wellcome to our Movies site</h1>
</div>
 
</body>

</html>